@media (max-width: 1200px){
  .experience {
    &__inner {
      align-items: center;
    }
    &__img {
      height: 500px;
    }
    &__content {
      max-width: 100%;
    }
  }
  .team{
    &__inner{
      display: block;

    }
    &__content{
      max-width: 100%;
      width: 100%;
    }
    &__link{
      margin-bottom: 30px;
    }
    &__item{
      max-width: 100%;
    }
    &__item-img{
      width: 100%;
      height: 390px;
    }
  }
  .blog-page{
    &__inner{
      flex-direction: column;
    }
    &__content{
      max-width: 100%;
    }
    &__aside{
      order: -1;
      margin-left: 0;
      max-width: 100%;
    }
    .filter-category,
    .recent-posts{
      display: none;
    }
    
  }
  .blog-item{
    &__img-box{
      max-width: 100%;
      width: 100%;
    }
    &__img{
      width: 100%;
    }
    &__content-box{
      max-width: 100%;
    }
  }
  .contacts{
    &__item {
      max-width: 300px;
      padding: 40px 0;
    }
    &__box{
      flex-direction: column;
    }
    &__map{
      order: -1;
      width: 100%;
      margin-bottom: 30px;
      #map{
        width: 100%;
      }
    }
    &__form{
      margin-right: 0;
      width: 100%;
    }
    &__input-wrapper{
      width: 45%;
    }
    &__form-input{
      width: 100%;
    }
    &__input-wrapper.contacts__form-textarea--comment{
      width: 100%;
    }
  }
  .shop{
    .recent-products{
      display: none;
    }
    &__inner{
      flex-direction: column;
    }
    &__btn{
      display: flex;
    }
  }
  .shop-filters{
    max-width: 100%;
    width: 100%;
    position: sticky;
    top: 50px;
    left: 0; 
    padding: 0 10px;
    background-color: #fff;
    z-index: 100;
    display: none;
  }
  .shop-content{
    &__inner{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-gap: 20px;
    }
    &__inner--nogrid{
      display: flex;
    }
  }
  .shop-content__inner .products-item {
    margin-bottom: 0;
  }
}

@media (max-width: 1050px){ 
  .experience{
    &__content{
      padding-top: 0;
    }
    &__list{
      flex-wrap: wrap;
      border-top: 1px solid #e6eaf0;
      &::before{
        display: none;
      }
    }
    &__item{
      margin-bottom: 20px;
    }
    &__item +.experience__item::after {
      display: none;
    }
    &__item +.experience__item::before {
      left: 0;
    }
    &__item +.experience__item{
      padding-left: 60px;
    }
  }
  .contacts{
    &__items{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item{
      margin-right: 50px;
      margin-bottom: 30px;
    }
  }
  .shop-content{
    &__inner{
      grid-template-columns: repeat(3,1fr);
    }
  }
  .product-slide{
    &__thumb{
      display: none;
    }
  }
  .product-one{
    padding-top: 60px;
  }
}

@media (max-width: 950px){ 
  .experience {
    padding: 60px 0;
    &__img {
      display: none;
    }
  }
  .benefits{
    &__inner{
      flex-wrap: wrap;

    }
    &__item{
      width: 50%;
      margin-bottom: 30px;
    }
  }
  .team{
    padding: 60px 0 135px;
  }
  .blog-page,
  .shop{
    padding: 60px 0;
  }
  .contacts{
    padding: 60px 0 90px;
    &__items{
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 880px){ 
  .blog-one{
    &__form{
      max-width: 100%;
      width: 100%;
    }
  }
  .contacts{
    &__form-box{
      display: block;
    }
    &__form-input{
      width: 100%;
      margin-bottom: 25px;
    }
    &__input-wrapper{
      width: 100%;
    }
  }
  .product-one{
    &__inner{
      display: block;
    }
  }
  .product-slide{
    justify-content: center;
    width: 100%;
  }
  .product-content{
    &__title{
      text-align: center;
    }
    &__star{
      .star{
        margin: 0 auto;
      }
    }
    &__price{
      display: block;
      text-align: center;
    }
  }
  .product-tabs{
    &__top{
      flex-wrap: wrap;
    }
    &__top-item{
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px){ 
  .team{
    &__items{
      grid-template-columns: repeat(1,1fr);
    }
  }
  .blog-item{
    &__img-box{
      height: 400px;
    }
    &__img{
      height: 400px;
    }
  }
  .shop-content{
    &__inner{
      grid-template-columns: repeat(2,1fr);
    }
    &__view{
      display: none;
    }
    &__filter{
      padding-left: 0;
    }
  }
  .product-tabs{
    padding-top: 50px;
  }
  .related-products{
    padding: 60px 0;
  }
}

@media (max-width: 550px){ 
  .benefits{
    &__inner{
      flex-direction: column;
    }
    &__item{
      width: 100%;
    }
  }
  .blog-item{
    &__img-box{
      height: 347px;
    }
    &__img{
      height: 275px;
    }
    &__info{
      width: 100%;
    }
  }
  .pagination{
    &__btn{
      display: none;
    }
  }
  .blog-one{
    &__content-box{
      h3{
        font-size: 32px;
      }
      blockquote{
        padding: 15px;
      }
      p{
        margin-bottom: 20px;
      }
    }
    &__author{
      display: block;
    }
    &__author-img{
      display: none;
    }
    &__author-info{
      margin-bottom: 10px;
    }
    &__author-tag{
      span{
        margin-right: 15px;
      }
    }
    &__author-tagbox{
      width: auto;
    }
  }
  .comments-item{
    &__img{
      display: none;
    }
    &__answer{
      margin-left: 115px;
    }
  }
  .contacts{
    &__item{
      margin-right: 0;
    }
  }
  .shop-content{
    &__inner{
      grid-template-columns: repeat(1,1fr);
    }
  }
  .product-content{
    &__form{
      margin-bottom: 30px;
    }
    &__form-btn{
      display: block;
      margin-top: 15px;
    }
  } 
  .product-tabs__top-item+.product-tabs__top-item {
    margin-left: 0px;
  }
  .product-tabs{
    &__top{
      justify-content: flex-start;
    }
    &__top-item{
      width: 100%;
    }
  }
  .related-products .slick-list{
    padding: 80px 0 40px;
  }
  .related-products .slick-prev,
  .related-products .slick-next {
    top: 13px;
    left: 0;
  }
  .related-products .slick-next{
    left: 69px;
  }
  .related-products{
    padding: 60px 0 0;
  }
}

@media (max-width: 420px){
  .team{
    &__item-img{
      width: 100%;
      height: 300px;
    }
    &__item-box{
      display: block;
    }
    &__item-member{
      margin-bottom: 10px;
    }
  }
  .blog-item{
    &__info{
      display: block;
    }
    &__info-date{
      margin-bottom: 15px;
    }
  }
  .comments-item{
    &__date{
      display: none;
    }
    &__answer{
      margin-left: 40px;
    }
  }
  .contacts{
    &__map{
      height: 200px;
      #map{
        height: 200px;
      }
    }
  }
} 