@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';
@import '../module/_articles/_articles';
@import '../module/_header/_header';
@import '../module/_footer/_footer';
@import '../module/_info-products/_info-products';



.experience{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__img{
    margin-right: 47px;
  }
  &__content{
    max-width: 555px;
    padding-top: 85px;
  }
  &__time{
    display: flex;
    margin-bottom: 35px;
  }
  &__time-num{
    color: #a3bbc8;
    @extend %rubik-700;
    font-size: 140px;
    line-height: 100px;
    margin-right: 25px;
  }
  &__time-text{
    @extend %rubik-400;
    max-width: 95px;
    color: $header-title;
    line-height: 30px;
    margin-top: 18px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    color: $header-title;
    margin-bottom: 31px;
  }
  &__text{
    @extend %rubik-400;
    color: $header-title;
    margin-bottom: 58px;  
    line-height: 30px;  
  }
  ul.experience__list{
    padding-top: 34px;
    display: flex;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 505px;
      height: 1px;
      top: 0;
      left: 0;
      background-color: #e6eaf0;
    }
  }
  &__item{
    padding-left: 55px;
    padding-right: 25px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__item + .experience__item{
    padding-left: 90px;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 80px;
      background-color: #e6eaf0;
    }
  }
  &__item:last-child{
    padding-right: 0;
  }

  &__item--project::before,
  &__item--revenue::before,
  &__item--awards::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 10px;
  }
  &__item--project::before{
    background-image: url('../images/icons/project.svg');
    width: 36px;
    height: 38px;
  }
  &__item--revenue::before{
    background-image: url('../images/icons/revenue.svg');
    width: 43px;
    height: 39px;
    left: 35px;
  }
  &__item--awards::before{
    background-image: url('../images/icons/awards.svg');
    width: 42px;
    height: 40px;
    left: 35px;
  }
  &__item-num{
    @extend %dmsans-700;
    font-size: 36px;
    color: $header-title;
    margin-bottom: -3px;
  }
  &__item-text{
    @extend %dmsans-700;
    color: #4c4c4c;
  }
}

.benefits{
  padding: 85px 0 70px;
  background-color: #fcd7b6;
  text-align: center;
  &__inner{
    display: flex;
    justify-content: space-around;
  }
  &__item{
    padding-top: 75px;
    position: relative;
  }
  &__item--satisfied::before,
  &__item--delivery::before,
  &__item--daily::before,
  &__item--brands::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__item--satisfied::before{
    background-image: url('../images/icons/satisfied-rate.svg');
    width: 73px;
    height: 59px;
  }
  &__item--delivery::before{
    background-image: url('../images/icons/products-delivered.svg');
    width: 72px;
    height: 51px;
  }
  &__item--daily::before{
    background-image: url('../images/icons/daily-time.svg');
    width: 78px;
    height: 64px;
  }
  &__item--brands::before{
    background-image: url('../images/icons/brands.svg');
    width: 60px;
    height: 64px;
  }
  &__item-num{
    @extend %dmsans-700;
    font-size: 36px;
    color: $header-title;
    margin-bottom: 15px;
  }
  &__item-text{
    @extend %dmsans-700;
    font-size: 18px;
    color: $header-title;
  }
}

.team{
  padding: 120px 0 185px;
  &__inner{
    display: flex;
  }
  &__content{
    max-width: 300px;
    margin-right: 100px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    color: $header-title;
    margin-bottom: 20px;
  }
  &__text{
    @extend %rubik-400;
    color: $header-title;
    margin-bottom: 48px; 
    line-height: 30px;
  }
  &__link{
    padding: 14px 65px 14px 15px;
    font-size: 15px;
    color: #fff;
    background-color: #a3bbc8;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    &::after{
      content: '';
      position: absolute;
      right: 25px;
      top: 18px;
      width: 15px;
      height: 11px;
      background-image: url('../images/icons/arrow-right-white.svg');
    }
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 30px;
  }
  &__item{
    max-width: 370px;
  }
  &__item-imgbox{
    position: relative;
  }
  
  &__item-img{
    height: 320px;
    object-fit: cover;
  }
  &__item-box{
    display: flex;
    justify-content: space-between;
    max-width: 325px;
    background-color: #fff;
    padding: 26px 25px 30px 25px;
    position: absolute;
    left: 0;
    bottom: -68px;
    width: 100%;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }
  &__item-name{
    @extend %dmsans-700;
    font-size: 22px;
    color: $header-nav;
    margin-bottom: 10px;
  }
  &__item-position{
    @extend %rubik-400;
    color: #565872
  }
  &__item-social{
    display: flex;
    align-items: center;
  }

  &__item-sociallink + .team__item-sociallink{
    margin-left: 10px;
  }
}

.terms{
  padding: 120px 0;
  &__title{
    @extend %rubik-500;
    font-size: 24px;
    color: $header-title;
    margin-bottom: 25px;
  } 
  ol.terms__list{
    padding-left: 28px;
    list-style-type: decimal-leading-zero;
    margin-bottom: 65px;
  }
  &__item{
    margin-bottom: 20px;
  }
  &__item-text,
  &__text{
    @extend %rubik-400;
    color: $header-title;
    line-height: 30px;
  }
  &__text{
    margin-bottom: 60px;
  }
  &__text:last-child{
    margin-bottom: 0;
  }

}

.modal{
  padding: 120px 0;
  &__form,
  &__register{
    max-width: 470px;
    margin: 0 auto;
  }
  &__form{
    padding-bottom: 30px;
    border-bottom: 1px solid #f6f6f6;
  }
  &__label,
  &__checkbox,
  &__link,
  &__register-text{
    color: $header-nav;
    @extend %rubik-400;
    font-size: 14px;
  }
  &__input{
    width: 100%;
    padding: 0 15px;
    height: 60px;
    border: 1px solid #f6f6f6;
    margin-top: 13px;
    margin-bottom: 27px;
  }
  &__input[type=password]{
    margin-bottom: 37px;
  }
  &__btn{
    @extend %rubik-500;
    font-size: 18px;
    width: 100%;
    padding: 20px 0;
    color: #fff;
    background-color: #a3bbc8;
    border: none;
    margin-bottom: 35px;
  }
  &__box{
    display: flex;
    justify-content: space-between;
  }
  &__register{
    padding-top: 30px;
    text-align: center;
  }
  &__register-text{
    margin-bottom: 23px;
  }
  &__register-link{
    width: 100%;
    display: inline-block;
    padding: 20px 0;
    border: 1px solid #a3bbc8;
    @extend %rubik-500;
    font-size: 18px;
    color: $header-nav;
  }
}

.shop{
  padding: 115px 0;
  &__inner{
    display: flex;
  }
  &__btn{
    width: 60px;
    height: 60px;
    background-color: $hover-blue;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 0;
    display: none;
    z-index: 101;
  }
}

.shop-filters{
  max-width: 270px;
  width: 100%;
  margin-right: 30px;
  @extend %rubik-400;
  color: $header-title;
}

.filter{
  &__title{
    display: inline-block;
    text-transform: uppercase;
    @extend %dmsans-700;
    font-size: 18px;
    padding-right: 55px;
    position: relative;
    margin-bottom: 25px;
    &::after{
      content: '';
      position: absolute;
      background-color: #a3bbc8;
      height: 1px;
      width: 40px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.filter-search{
  &__form{
    display: flex;
    border: 1px solid $accent-blue;
    border-radius: 5px;
    margin-bottom: 55px;
  }
  &__input{
    width: 100%;
    border: none;
    padding: 0 15px;
  }
  &__btn{
    border: none;
    padding: 0;
    background-color: $accent-blue;
    border-radius: 5px;
    max-width: 46px;
    width: 100%;
    height: 40px;
    display: flex;justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    &::before{
      content: '';
      position: absolute;
      width: 17px;
      height: 17px;
      background-image: url('../images/icons/search-blue.svg');
    }
  }
}

.filter-category{
  &__form{
    margin-bottom: 50px;
  }
  &__label{
    margin-bottom: 1px;
    display: block;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: $accent-blue;
    }
  }
  &__checkbox{
    display: block;
    padding: 12px 23px 12px 15px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    &::after{
      content: '';
      position: absolute;
      width: 5px;
      height: 10px;
      top: 50%;
      transform: translateY(-50%);
      right: 23px;
      background-image: url('../images/icons/articles-arrow-blue.svg');
    }
  } 
}

.filter-price{
  margin-bottom: 82px;
  &__nums{
    display: flex;
    justify-content: space-between;
  }
}

.irs--flat {
  height: 17px;
  margin-bottom: 20px;
}

.irs--flat .irs-handle {
  top: 0px;
  width: 16px;
  height: 16px;
  background-color: #a3bbc8;
  cursor: pointer;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-line {
  top: 6px;
  height: 1px;
  background-color: #c2d2db;
  border-radius: 0px;
}

.irs--flat .irs-bar {
  top: 6px;
  height: 2px;
  background-color: $hover-blue;
}

.irs-from, .irs-to, .irs-single {
  display: none;  

}

.irs--flat .irs-min, .irs--flat .irs-max {   
  display: none;  
}

.filter-brand{
  margin-bottom: 43px;
  &__label{
    margin-bottom: 1px; 
    display: block;
  }
  &__checkbox{
    display: flex;
    justify-content: space-between;
    padding: 12px 23px 12px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  &__num{
    color: #b3b3b3;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: $accent-blue;
      .filter-brand__num{
        color: $header-title;
      }
    }
  }
}

.recent-products{
  &__item{
    display: flex;
    margin-bottom: 23px;
  }
  &__item-imgbox{
    height: 70px;
    max-width: 70px;
    width: 100%;
    border: 1px solid #f2f2f2;
    margin-right: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item-img{
    object-fit: cover;
  }
  &__item-title{
    color: #333;
    font-size: 14px;
    margin-bottom: 12px;
  }
  &__item-price{
    display: inline-block;
    margin-top: 10px;
    color: #333;
    font-size: 15px;
  }
}

.jq-ry-container{
  padding: 0;
}

.shop-content{
  width: 100%;
  &__filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    margin-bottom: 40px;
    border: 1px solid #ebebeb;
  }
  &__view{
    display: flex;
    align-items: center;
    &--active{
      path{
        fill: $hover-blue;
      }
    }
  }
  &__view-grid,
  &__view-list{
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
  }
  &__sort-select{
    margin-left: 30px;
    
  }
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding-bottom: 105px; 
    .products-item{
      margin-bottom: 40px;
    }
  }
}

.jq-selectbox__select {
  height: 32px;
  padding: 0 18px 0 10px;
  border: none;
  border-radius: 0px;
  background: none;
  box-shadow: none;
  font-size: 16px;
  @extend %dmsans-400;
  color: $accent;
  text-shadow: 1px 1px #fff;
  display: flex;
  align-items: center;
  &:hover{
    background: none;
    background-color: $accent-blue;
  }
}

.jq-selectbox__select-text{
  @extend %dmsans-400;
  font-size: 16px;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  border: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 10px;
  height: 5px;
  border: none;
  background-image: url('../images/icons/angle-down.svg');
}

.jq-selectbox__dropdown {
  width: auto;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  font: 16px 'DMSans-Regular',sans-serif;
}

.jq-selectbox__dropdown ul {
  padding: 0;
}

.jq-selectbox li.selected {
  background-color: #a3abb1;
  color: #fff;
}

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  color: #231f20;
}

.jq-selectbox li:hover {
  background-color: #08c;
  color: #fff;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  &--list{
    justify-content: flex-start;

  }
  &__btn{
    padding: 17px 17px 17px 20px;
    @extend %rubik-400;
    color: $header-title;
    border: 1px solid $hover-blue;
    background-color: transparent;
    cursor: pointer;
    margin: 0 15px;
    &--prev{
      margin-left: 0;
    }
  }
  
  &__list{
    display: flex;
  }
  &__item + .pagination__item{
    margin-left: 15px;
  }
  &__link{
    padding: 17px 20px;
    @extend %rubik-400;
    color: $header-title;
    border: 1px solid $hover-blue;
    font-size: 16px;
    &--active{
      background-color: $hover-blue;
    }
  }
}

.product-one{
  padding-top: 120px;
  &__inner{
    display: flex;
  }
}

.product-slide{
  width: 550px;
  margin-right: 65px;
  display: flex;
  .slick-vertical .slick-slide {
    height: 160px;
    margin-bottom: 25px;
  }
  &__thumb{
    margin-right: 25px;
    width: 137px;
  }
  &__thumb-item{
    margin-bottom: 25px;
    width: 140px;
    height: 160px;
    border: 1px solid #f2f2f2; 
    display: flex;
    justify-content: center;
    align-items: center; 
    img{
      object-fit: cover;
      width: 130px;
      height: 150px;
    }
  }
  &__big{
    width: 386px;
    height: 530px;
    border: 1px solid #f2f2f2;
    img{
      width: 233px;
      height: 405px;
      object-fit: cover;
      object-position: center;
    }
  }
  &__big-item{
    height: 530px;
  }
  &__big-inner{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product-content{
  @extend %rubik-400;
  padding-top: 25px;
  &__title{
    font-size: 40px;
    color: #333;
    margin-bottom: 15px;
  }
  &__price{
    display: inline-block;
    margin: 25px 0;
    font-size: 30px;
    color: #333;
  }
  &__text{
    margin-bottom: 30px;
    color: $header-title;
    line-height: 30px;
  }
  &__form{
    margin-bottom: 55px;
  }
  &__form-input{
    margin-right: 15px;
  }
  &__form-btn{
    width: 210px;
    height: 52px;
    border: none;
    padding: 0;
    @extend %btn;
    cursor: pointer;
  }
}

.jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0 49px;
  border: 1px solid #a3bbc8;
}

.jq-number__field {
  width: 100px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  position: relative;
  width: 50px;
  height: 52px;
}

.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 49px;
  height: 100%;
  border: none;
  background: none;
  box-shadow: none;
  box-shadow: none;
  user-select: none;
  cursor: pointer;
}

.jq-number__spin.minus,
.jq-number__spin.plus{
  top: 0;
  bottom: 0;
}

.jq-number__spin.minus::after,
.jq-number__spin.plus::after{
  content: '';
  position: absolute;
  width: 9px;
  height: 1px;
  background-color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.jq-number__spin.plus::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 9px;
  background-color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.jq-number__field input {
  width: 100%;
  padding: 18px 9px;
  border: none;
  border-left: 1px solid $hover-blue;
  border-right: 1px solid $hover-blue;
  outline: none;
  background: none;
  @extend %rubik-400;
  font-size: 16px;
  color: #333;
  text-align: center;
  height: 100%;
}

.jq-number__spin:after {
  content: "";
  position: absolute;
  top: 23px;
  left: 11px;
  width: 0;
  height: 0;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.jq-number__spin.minus{
  left: 0;
}




.product-info{
  &__item{
    display: flex;
    margin-bottom: 10px;
  }
  &__item-title{
    margin-right: 5px;
    color: $header-title;
  }
  &__item-text{
    color: $header-title;
    font-size: 16px;
    line-height: 21px;
  }
  
}

.product-tabs{
  padding-top: 100px;
  &__top{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__top-item{
    width: 242px;
    @extend %rubik-500;
    font-size: 18px;
    color: $header-title;
    text-align: center;
    padding: 20px 0;
    background-color: #edf1f4;
  }
  &__top-item + .product-tabs__top-item{
    margin-left: 13px;  
  }
  &__top-item--active{
    background-color: $hover-blue;
    color: #fff;
  }
  &__content{
    @extend %rubik-500;
    color: $header-title;
    line-height: 30px;
  }
  &__content-item{
    display: none;
  }
  &__content-item--active{
    display: block;
  }

}

.related-products{
  padding: 120px 0 60px;
  .slick-list {
    padding: 40px 0;
  }
  .slick-prev,
  .slick-next{
    position: absolute;
    top: -53px;
    right: 0;
    width: 49px;
    height: 49px;
    border: 1px solid $hover-blue;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .slick-prev{
    right: 69px;
    transform: rotate(180deg);
  }
  .slick-disabled{
    border-color: $accent-blue;
  }

  &__top{
    margin-bottom: 5px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    color: $header-title;
  }
  &__content{
    padding: 20px 0;
  }
}

.blog-page{
  padding: 120px 0;
  &__inner{
    display: flex;

  }
  &__content{
    width: 100%;
    max-width: 830px;
    .pagination{
      margin-top: 75px;
    }
  }
  &__aside{
    @extend %rubik-400;
    max-width: 270px;
    width: 100%;
    margin-left: 70px;
  }
}

.blog-item{
  @extend %rubik-400;
  margin-bottom: 50px;
  
  &__img-box{
    max-width: 830px;
    height: 501px;
    width: 1005px;
    position: relative;
    margin-bottom: 33px;
  }
  &__img{
    width: 830px;
    height: 501px;
    object-fit: cover;
  }
  &__info{
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 275px;
    padding: 28px 22px 30px;
    background-color: $hover-blue;
    color: #fff;
    font-size: 16px;
  }
  &__info-date{
    margin-right: 25px;
  }
  &__info-author{
    display: inline-block;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  &__info-date,
  &__info-author{
    font-size: 12px;
    padding-left: 18px;
    position: relative;
  }

  &__info-date::before,
  &__info-author::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 13px;
    top: 1px;
    left: 0;
  }
  &__info-date::before{
    background-image: url('../images/icons/calendar-solid.svg');
  }
  &__info-author::before{
    background-image: url('../images/icons/user-solid.svg');
  }
  &__content-box{
    max-width: 800px;
  }
  &__title{
    color: #333;
    font-size: 36px;
    margin-bottom: 23px;
  }
  &__text{
    color: $header-title;
    line-height: 30px;
    margin-bottom: 35px;
  }
  &__link{
    display: inline-block;
    padding: 20px 93px 23px 18px;
    position: relative;
    font-size: 15px;
    color: $hover-blue;
    @extend %link-border;
  }
  
}

.recent-posts{
  &__item{
    display: flex;
    margin-bottom: 23px;
  }
  &__item-imglink{
    display: block;
    max-width: 71px;
    width: 100%;
    height: 71px;
    margin-right: 18px;
  }
  &__item-img{
    width: 71px;
    height: 71px;
    object-fit: cover;
  }
  &__item-link{
    display: block;
    
  }
  &__item-title{
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    line-height: 20px;
  }
  &__item-date{
    color: #9a9a9a;
    padding-left: 20px;
    position:relative;
    font-size: 12px;
    &::after{
      content: '';
      position: absolute;
      width: 12px;
      height: 13px;
      background-image: url('../images/icons/calendar-solid-grey.svg');
      top: 2px;
      left: 0;
    }
  }
}

.contacts{
  padding: 114px 0 135px;
  text-align: center;
  &__subtitle{
    color: $hover-blue;
    @extend %poppins-700;
    margin-bottom: 4px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 35px;
    color: $header-title;
    margin-bottom: 70px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 122px;
  }
  &__item{
    max-width: 370px;
    width: 100%;
    padding: 70px 0 75px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fbfbfb;
    transition: all .3s;
    &:hover{
      border: 1px solid $hover-blue;
      .contacts__item-svg{
        background-color: $hover-blue;
        path{
          fill: #fff;
        }
      }
    }
  }
  &__item-svg{
    width: 80px;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 53px;
    border-radius: 20px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    transition: all .3s;
    path{
      transition: all .3s;
    }
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 20px;
    margin-bottom: 14px;
    color: #222;
  }
  &__item-text{
    @extend %rubik-400;
    color: #565872;
    max-width: 259px;
    line-height: 30px;
    font-size: 16px;
  }
  &__box{
    display: flex;
  }
  &__form{
    width: 620px;
    margin-right: 50px;
  }
  &__form-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__form-input::placeholder,
  &__form-textarea::placeholder{
    text-transform: uppercase;
    color: #565872;
    @extend %rubik-400;
  }
  &__input-wrapper{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 29px;
    }
  }
  &__form-input{
    display: block;
    width: 300px;
    height: 50px;
    padding: 0 50px 0 20px;
    border: none;
    background-color: #fafafa;
  }
  &__form-textarea{
    height: 175px;
    border: none;
    padding: 16px 50px 16px 20px;
    background-color: #fafafa;
    resize: none;
    width: 100%; 
    margin-bottom: 30px;
  }
  &__form-input--user::after{
    background-image: url('../images/icons/user-contact.svg');
    width: 14px;
    height: 13px;
  }
  &__form-input--mail::after{
    background-image: url('../images/icons/mail-contact.svg');
    width: 18px;
    height: 12px;
  }
  &__form-textarea--comment::after{
    background-image: url('../images/icons/comment-contact.svg');
    width: 18px;
    height: 14px;
    top: 20px;
  }
  &__form-btn{
    display: block;
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
    @extend %btn;
  }
}

#map{
  width: 500px;
  height: 335px;
}

.blog-one{
  max-width: 100%;
  &__content-box{
    h3{
      font-size: 36px;
      color: #333;
      margin-bottom: 23px;
    }
    h4{
      @extend %rubik-500;
      color: $header-title;
      line-height: 30px;
      padding: 15px 0;
    }
    p{
      color: $header-title;
      line-height: 30px;
      margin-bottom: 40px;
    }
    blockquote{
      background-color: $accent-blue;
      color: $header-title;
      padding: 25px 91px 23px 40px;
      border-left: 6px solid $hover-blue;
      line-height: 30px;
      margin-bottom: 46px;
      span{
        display: block;
        position: relative;
        margin-top: 15px;
        padding-left: 42px;
        &::before{
          content: '';
          position: absolute;
          width: 20px;
          height: 2px;
          background-color: $hover-blue;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
      }
    }
    img{
      float: left;
      margin-right: 30px;
    }
    .blog-one__purple{
      color: #565872;
      line-height: 30px;
    }
  }
  &__author{
    padding: 25px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    margin-bottom: 65px;
  }
  &__author-img{
    margin-right: 27px;
  }
  &__author-name{
    @extend %rubik-500;
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
  }
  &__author-position{
    @extend %rubik-400;
    color: #666;
  }
  &__author-tags{
    margin-left: auto;
  }
  &__author-tag{
    display: flex;
    margin-bottom: 15px;
    span{
      @extend %rubik-500;
      color: #333;
    }
  }

  &__author-tagbox{
    width: 100%;
    text-align: center;
  }
  &__author-tagslink{
    @extend %rubik-400;
    font-size: 16px;
    color: #999;
  }
  &__author-social{
    display: flex;
    align-items: center;
    span{
      margin-right: 20px;
      @extend %rubik-500;
      color: #333;
    }
  }
  &__author-link{
    margin-right:20px;
  }
  &__comments-title{
    @extend %rubik-700;
    font-size: 24px;
    color: $header-nav;
    margin-bottom: 55px;
  }
  &__comment{
    padding-top: 56px;
  }
  &__comment-title{
    @extend %rubik-700;
    font-size: 24px;
    color: $header-nav;
    margin-bottom: 45px;
  }
  &__form{
    width: 830px;
  }
  &__form-input{
    width: 400px;
  }
  &__form-textarea{
    height: 120px;
  }
  &__form-input,
  &__form-textarea{
    background-color: transparent;
    border: 1px solid rgba(#000,.05);
    color: #333;
    @extend %rubik-400;
    font-size: 16px;
  }
  

  &__form-input::placeholder,
  &__form-textarea::placeholder{
    text-transform: none;
    color: #999;
  }
  &__form-btn{
    border-radius: 0px;
  }
}

.comments-item{
  display: flex;
  @extend %rubik-400;
  &__img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 30px;
  }
  &__info{
    display: flex;justify-content: space-between;
    margin-bottom: 20px;
  }
  &__name{
    @extend %rubik-700;
    color: $header-nav;
  }
  &__date{
    font-size: 14px;
    color: #9e9e9e;
  }
  &__text{
    color: #565872;
    line-height: 30px;
    margin-bottom: 20px;
  }
  &__link{
    display: inline-block;
    color: #565872;
    font-size: 14px;
    padding-right: 20px;
    position: relative;
    margin-bottom: 30px;
    &::after{
      content: '';
      position: absolute;
      width: 12px;
      height: 14px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background-image: url('../images/icons/arrow-right-solid.svg');
    }
  }
  &__answer{
    margin-bottom: 30px;
    padding: 30px 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    .comments-item__link{
      margin-bottom: 0;
    }
  }
}










@import 'media';