@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

.header{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 55px;
  }
}

.menu{
  margin-left: auto;
  margin-right: 334px;
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    margin-left: 35px;
  }
  &__list-link{
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $header-nav;
  }
}

.user-nav{
  display: flex;
  &__search{
    padding: 17px;
    background-color: #edf1f4;
    border-radius: 50%;
  }
  &__wrapper{
    display: flex;
    background-color: #fcd7b6;
    border-radius: 25px;
    padding: 13px 12px 12px 40px;
    margin-left: 21px;
  }
  &__wrapper-item{
    position: relative;
    margin-right: 30px;
    padding-top: 9px;
  }
  &__wrapper-item + .user-nav__wrapper-item{
    padding-left: 28px;
    position: relative;
  }
  &__wrapper-item + .user-nav__wrapper-item::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 32px;
    left: 0;
    bottom: -3px;
    background-color: #fff;
    opacity: .4;
  }
  &__num{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: -9px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    color: $header-title;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    line-height: 27px;

  }
  &__more{
    padding: 15px;
    background-color: #a3bbc8;
    border-radius: 50%;
    margin-left: 18px;
  }
}

.footer-top{
  padding: 75px 0;
  border-bottom: 1px solid #dae4e9;
  &__inner{
    display: flex;
  }
  &__item{
    width: 200px;
  }
  &__item + .footer-top__item{
    margin-left: 100px;
  }
  &__item-form{
    width: 270px;
  }
  &__address{
    margin-top: 30px;
    margin-bottom: 23px;
    width: 180px;
    @extend %rubik-400;
    color: $link;
    font-size: 14px;
    line-height: 24px;
  }
  &__item-tel{
    display: block;
    margin-bottom: 23px;
  }
  &__item-email{
    display: block;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #1f2044;
    margin-top: 17px;
  }
  &__list-item{
    margin-bottom: 14px;
  }
  &__item-text{
    @extend %rubik-400;
    color: $link;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 35px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
    width: 170px;
    padding: 15px;
    background-color: #fef7f0;
    border: none;
  }
  &__form-input::placeholder{
    font-size: 12px;
    color: #234969;
  }
  &__form-btn{
    padding: 14px 19px 14px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #a3bbc8;
    border: none;
    cursor: pointer;
  }
}

.footer-bottom{
  padding: 34px 0 39px;
  display: flex;
  justify-content: space-between;
  color: $link;
  &__links{
    display: flex;
  }
  &__link-wrapper{
    margin-right: 13px;
  }
  &__link-wrapper + .footer-bottom__link-wrapper{
    padding-left: 15px;
    border-left: 1px solid $link;
  }
}

.header-content{
  &__wrapper{
    padding: 225px 0 280px;
    background-image: url('../images/header-content-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__slider{
    display: flex;    
  }
  &__box{
    width: 412px;
    margin-right: 119px;
  }
  &__title{
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: $header-title;
    margin-bottom: 45px;
  }
  &__subtitle{
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: $header-subtitle;
    margin-bottom: 40px;
  }
  &__link{
    display: inline-block;
    padding: 25px 101px 25px 27px;
    background-color: #a3bbc8;
    color: #fff;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/arrow-right.png');
      width: 22px;
      height: 9px;
      right: 19px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 264px;
    margin-top: auto;
  }
}

.info{
  padding: 47px 0 49px;
  background-color: rgba(#fcd7b6,.2);

  &__items{
    display: flex;
    justify-content: space-around;
  }
  &__item{
    display: flex;
    width: 294px;
  }
  &__item-img{
    max-width: 51px;
    align-self: flex-start; 
  }
  &__item-content{
    margin-left: 25px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 18px;
    color: #414141;
    margin-bottom: 5px;
  }
  &__item-text{
    line-height: 30px;
  }
}

.products{
  padding: 75px 0 185px;
  &__title{
    margin-bottom: 35px;
  }
  &__filter{
    display: flex;
    justify-content: center;
    margin-bottom: 85px;
  }
  &__filter-btn{
    border: none;
    padding: 0;
    background-color: transparent;
    @extend %dmsans-700;
    color: $filter-btn;
    cursor: pointer;
  }
  &__filter-btn + .products__filter-btn{
    margin-left: 30px;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
  }
  
}

.products-item{
  min-height: 380px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  text-align: center;
  border-radius: 10px;
  &__img-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
  &__img{
    object-fit: cover;
  }
  &__user-links{
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: all .3s;
  }
  &__user-link{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%; 
    width: 45px;
    height: 45px;
    transition: all .3s;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
  &__user-link:hover{
    background-color: #a3bbc8;
    path{
      fill: #fff;
    }
  }
  &__user-link + .products-item__user-link{
    margin-left: 15px;
  }
  &__title{
    @extend %dmsans-500;
    color: $header-title;
    margin-bottom: 10px;
  }
  &__price{
    @extend %dmsans-700;
    color: #a3bbc8
  }
  &:hover{
    .products-item__user-links{
      opacity: 1;
    }
  }
}

.recent{
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 870px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fcd7b6;
    padding: 105px 0 80px;
    height: 390px;
  }
  &__content{
    position: relative;
    margin-left: auto;
    max-width: 330px;
    margin-right: 150px;
  }
  &__item-img{
    position: absolute;
    bottom: 0;
    left: -250px;
  }
  &__title{
    @extend %dmsans-700;
    text-transform: uppercase;
    font-size: 26px;
    color: $header-title;
    margin-bottom: 15px;
  }
  &__descr{
    color: $header-title;
    margin-bottom: 20px;
  }
  &__link{
    display: inline-block;
    padding: 20px 85px 20px 20px;
    color: $header-nav;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    position: relative;
    border-radius: 5px;
    border: 1px solid rgba(#436372,.4);
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/recent-arrow-right.png.svg');
      width: 22px;
      height: 9px;
      right: 19px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}




@import 'media';